@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: poppins, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#audio-section {
    transform: scale(0);
}

@keyframes startUp {
    to {
        filter: brightness(1) blur(0);
    }
}

::-webkit-scrollbar {
    width: 0;
}

.wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -4;
}

.wallpaper::after {
    content: '';
    height: 100svh;
    width: 100%;
    background-image: linear-gradient(to right, black 70px, transparent 20%);
    position: absolute;
    left: 0;
}

.wallpaper::before {
    content: '';
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left, black 70px, transparent 20%);
    position: absolute;
    right: 0;
}

.wallpaper video {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100svh;
    position: relative;
    transition: .35s;
    filter: blur(20px) brightness(0.5);
    animation-name: startUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

body::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,black 30px, transparent 25%);
    position: absolute;
    z-index: -2;
}

body::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,black 30px, transparent 25%);
    position: absolute;
    z-index: -2;
}

.message-displayer {
    border: 2px solid rgba(0,0,0,.3);
    color: #eee;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    background: rgba(0,0,0,.6);
    font-weight: 600;
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    position: fixed;
    right: 10px;
    top: 70px;
    transform: translateY(20px);
    filter: blur(20px);
    transition: .35s;
    backdrop-filter: blur(20px);
}

.message-displayer.active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

@keyframes rotaterPic {
    to {
        transform: rotate(360deg);
    }
}

.rotater {
    animation: rotaterPic 300s linear infinite forwards;
    margin: 20px;
}

.profile-picture-container {
    border: 2px solid #fff;
    box-shadow: 0 0 5px #eee;
    height: 230px;
    width: 230px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
    animation-name: glowEffect;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background: black;
    background: url('front.png') no-repeat;
    background-position: center;
    background-size: cover;
}

@keyframes glowEffect {
    0%{
        box-shadow: 0 0 5px #eee;
    }
    50%{
        box-shadow: 0 0 10px #eeeeeec4;
    }
    100% {
        box-shadow: 0 0 5px #eee;
    }
}

.input-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#js-password-input {
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    box-shadow: 0 0 5px #eee;
    background-color: rgba(100,100,100,.2);
    backdrop-filter: blur(10px);
    font-size: 15px;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 45px;
    /* color: darkred; */
    color: rgba(20,20,20,.8);
    font-weight: 600;
    transition: .35s;
    letter-spacing: 2px;
    filter: brightness(2);
}

#js-password-input::placeholder {
    color: rgba(20,20,20,.8)
}

#js-password-input:hover {
    box-shadow: 0 0 10px #eee;
}

#enter-Input-btn {
    margin-left: -35px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    padding: 7.5px 12px;
    border: 2px solid #fff;
    background: transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    transition: .35s;
    backdrop-filter: blur(30px);
}

#enter-Input-btn:hover {
    filter: brightness(2);
}

#enter-Input-btn:active {
    filter: brightness(1);
}

.message-display-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    background:rgba(0,0,0,.6);
    color: gold;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 20px;
    letter-spacing: 2px;
    border: 2px solid gold;
    border-radius: 5px;
    cursor: pointer;
    transition: .35s;
}

.message-display-btn:hover {
    background: gold;
    color: black;
}

.message-display-btn:active {
    opacity: .8;
}

.pass {
    color: gold;
}

.password-renew {
    color: rgba(0,0,0,.6);
    font-weight: 600;
    filter:brightness(2) blur(.8px);
    text-shadow: 0 0 1px #fff;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .35s;
    margin-top: 10px;
}

.password-renew:hover {
    filter: brightness(3) blur(0);
    text-decoration: underline;
}

.password-renew:active {
    opacity: .8
}